* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav開頭 */
header {
  background-color: antiquewhite;
  height: 60px;
  box-shadow: 0 6px 8px -5px black;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  padding: 1rem;
  font-weight: 600;
  transition: 0.2s ease-in;
}

header nav ul li:hover {
  color: rgb(155, 111, 59);
  cursor: pointer;
}

.websiteButton {
  background-color: burlywood;
}
/* nav結束 */

/* body開頭 */
main div {
  padding: 2rem;
}
/* body結束 */

/* 滑到頂端按鈕設定 */
html {
  scroll-behavior: smooth;
}

.goTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 2px solid black;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; /* 隱藏時禁用點擊 */
  background-color: indianred;
}

.goTop.visible {
  opacity: 1;
  pointer-events: auto; /* 顯示時啟用點擊 */
}

.fa-arrow-up {
  color: black;
  transition: 0.2s ease-out;
}

.fa-arrow-up:hover {
  transform: translateY(2.5px);
  cursor: pointer;
}
