* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* nav開頭 */
header {
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  position: sticky;
  top: -1;
  /* border: 2px solid black; */
}

header nav {
  background-color: antiquewhite;
  /* box-shadow: 0 6px 8px -5px black; */
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
  padding: 20px;
}

header nav img {
  width: 40px;
  height: auto;
}

.nav-divider {
  width: 6%;
  /* border: 2px solid black; */
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  padding: 1rem;
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

header nav ul li a:hover {
  color: rgb(155, 111, 59);
  cursor: pointer;
}

.websiteButton {
  background-color: burlywood;
}
/* nav結束 */

/* body開頭 */
main div {
  /* padding: 2rem; */
  width: 100%;
}

.sec1 img {
  width: 100%;
}

/* body結束 */

/* footer開始 */
footer {
  height: 120px;
}

footer section {
  background-color: blanchedalmond;
  height: 100%;
}

footer section a {
  text-decoration: none;
  color: black;
}
/* footer結束 */

/* 滑到頂端按鈕設定 */
html {
  scroll-behavior: smooth;
}

.goTop {
  position: fixed;
  right: 50px;
  bottom: 15px;
  /* border: 2px solid black; */
  width: 50px;
  height: 60px;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; /* 隱藏時禁用點擊 */
  background-color: rgb(180, 180, 180);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  border-radius: 6px;
}

.goTop.visible {
  opacity: 0.8;
  pointer-events: auto; /* 顯示時啟用點擊 */
}

.fa-arrow-up {
  color: black;
  transition: 0.2s ease-out;
  background-color: none;
}

.fa-arrow-up:hover {
  transform: translateY(2.5px);
  cursor: pointer;
}
