* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* body開頭 */
main {
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 40px;
}

.sec1 {
  width: 86%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 img {
  width: 100%;
}

.sec2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2 div {
  /* margin: 20px 0; */
}

.div1 {
  margin: 30px 0;
  text-align: center;
  h4 {
    font-size: 30px;
  }
}

.div2 {
}

.awards {
  margin: 20px 0;
  p {
    color: rgb(93, 93, 93);
  }
}

.sec2 div p {
  margin: 20px 0;
}

.sec2 div h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.div6 {
  width: 100%;
}

.downdrop {
  width: 100%;
  padding: 2px;
}

.droplabel {
  /* border: 2px solid black; */
  height: auto;
  width: 100%;
  display: flex;
  margin: 8px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.downdrop-element {
  border: 2px solid black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px;
}

.fa-note-sticky {
  color: blue;
}

.fa-circle-chevron-down {
  position: absolute;
  right: 20px;
}

.downdrop-element label {
  position: relative;
  border: 2px solid black;
  width: 100px;
  color: black;
  z-index: 100;
}

.downdrop-content {
  width: 100%;
  clear: both;
  background: #fff;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in;
}

input {
  display: none;
}

input:checked ~ .downdrop-content {
  max-height: 500px;
  padding: 20px;
  border: 2px solid black;
  border-top: none;
}
