* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* body開頭 */
main {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 40px;
}

.sec1 {
  width: 86%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 img {
  width: 100%;
}

.sec2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2 div {
  /* margin: 20px 0; */
}

.sec2 div p {
  margin: 20px 0;
}

.sec2 div h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.div6 {
  width: 100%;
}

.downdrop {
  border: 2px solid black;
  width: 100%;
  padding: 2px;
}

.droplabel {
  border: 2px solid black;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.downdrop-element {
  border: 2px solid black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.fa-note-sticky {
  color: blue;
}

.downdrop-element label {
  position: relative;
  border: 2px solid black;
  width: 100px;
  color: black;
  z-index: 100;
}

.downdrop-content {
  width: 100%;
  clear: both;
  background: #fff;
  border: 2px solid rgb(255, 67, 67);
  /* height: 100px; */
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
}

#label1 input {
  display: none;
}

#label1 input:checked ~ #downdrop-content1 {
  max-height: 500px;
}

.detail details {
  border: 2px solid black;
}

.detail details summary {
  border: 2px solid black;
}

.detail details div {
  border: 2px solid black;
}
