* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 20px;
}

/* body開頭 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.sec2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  width: 100%;
}

.div1 {
  width: 100%;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .div1-block {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 68%;
    h1 {
      margin-bottom: 24px;
      color: rgb(56, 56, 56);
      /* border: 2px solid lightskyblue; */
    }
    .div1-members {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: first baseline;
      /* border: 2px solid black; */
      margin-top: -20px;
      li {
        font-size: 20px;
        /* margin: 10px 0; */
        cursor: pointer;
        /* margin-left: 50px; */
        /* padding: 10px 20px; */
        padding-left: 20px;

        margin-top: 20px;
        color: rgb(61, 61, 61);
        /* border: 2px solid lightskyblue; */
      }
      .div1-divider {
        width: 40%;
        height: 1px;
        background-color: rgba(133, 133, 133, 0.7);
      }
    }
  }
}

.div2 {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .div2-block {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    /* border: 2px solid black; */
    width: 68%;
    h1 {
      width: 100%;
      color: rgb(56, 56, 56);
      margin-bottom: 10px;
      /* border: 2px solid black; */
    }
    .div2-members {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* align-items: center; */

      li {
        font-size: 20px;
        /* margin-left: 50px; */
        padding-left: 20px;

        margin-top: 26px;
        cursor: pointer;
        /* padding-left: 20px; */
        color: rgb(61, 61, 61);
      }
      .div2-divider {
        width: 40%;
        height: 1.5px;
        background-color: rgba(133, 133, 133, 0.7);
      }
    }
  }
}

.div3 {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .div3-block {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid black; */
    width: 68%;
    h1 {
      color: rgb(56, 56, 56);
      margin-bottom: 10px;
    }
    .div3-members {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: first baseline;
      /* border: 2px solid black; */
      /* margin-top: 0px; */

      li {
        font-size: 20px;
        margin-top: 20px;
        /* margin-left: 50px; */
        cursor: pointer;
        padding-left: 20px;
        color: rgb(61, 61, 61);
      }
      .div3-divider {
        width: 40%;
        height: 1px;
        background-color: rgba(133, 133, 133, 0.7);
      }
    }
  }
}

.co-organizer {
  width: 100%;
  height: auto;
  display: flex;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: space-around;
  background-color: rgb(226, 241, 255);
  padding-bottom: 65px;
  border-radius: 10px 10px;
}

.member {
  width: 30%;
  height: auto;
  /* border: 2px solid black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face {
  border-radius: 50% 50%;
  height: 200px;
  width: 200px;
  border: 2px solid black;
}

.div4 {
  margin: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(151, 172, 198, 0.35);
  .div4-block {
    width: 66%;
    max-width: 1200px;
    margin-bottom: 70px;
    h1 {
      margin-top: 60px;
      text-align: center;
      font-size: 34px;
      /* font-weight: 500; */
      margin-bottom: 6px;
      color: rgb(40, 40, 40);
    }
    .alphabetical-order {
      font-size: 20px;
      color: rgb(118, 118, 118);
      text-align: center;
      margin-bottom: 20px;
    }
    .speakers {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
      .speakers-profile {
        /* border: 2px solid black; */
        width: 100%;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        position: relative;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 2px 4px 1px rgba(72, 102, 137, 0.3);
        border-radius: 2px;
        padding: 26px 30px;
        transition: 0.3s;
        cursor: pointer;
        margin: 8px 0;
        &:hover {
          box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
        }

        .speakers-profile-name {
          position: relative;
          width: 100%;
          /* border: 2px solid black; */
          display: flex;
          align-items: center;
          h3 {
            color: rgb(63, 63, 63);
          }
        }
        .speakers-profile-number {
          /* border: 2px solid rgb(110, 192, 231); */
          position: relative;
          background-color: rgb(190, 208, 222);
          border-radius: 50% 50%;
          color: rgb(255, 255, 255);
          height: 14px;
          width: 14px;
          margin-right: 10px;
          text-align: center;
          /* line-height: 50px; */
          font-weight: 500;
          font-size: 18px;
        }

        h3 {
          /* border: 2px solid black; */
          /* width: 20%; */
          position: relative;
          left: 0;
          margin-left: 2px;
          font-size: 20px;
          font-weight: 500;
          /* margin-right: 20px; */
        }
        .introduction {
          margin-top: 12px;
          margin-left: 40px;
          color: rgb(85, 85, 85);
        }
        li {
          margin-top: 6px;
        }
        p {
          font-size: 18px;
          color: rgb(70, 70, 70);
        }
      }
    }
  }
}

.div5 {
  width: 100%;
  /* border: 2px solid black; */
  h1 {
    text-align: center;
    color: rgb(40, 40, 40);
    font-size: 34px;
    margin-bottom: 6px;
  }
  .alphabetical-order {
    font-size: 20px;
    color: rgb(118, 118, 118);
    text-align: center;
    margin-bottom: 20px;
  }
  .speakers {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    .speakers-profile {
      /* border: 2px solid black; */
      width: 66%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      background-color: rgb(252, 253, 255);
      box-shadow: 3px 2px 4px 2.5px rgba(192, 192, 192, 0.637);
      border-radius: 2px;
      padding: 26px 30px;
      transition: 0.3s;
      cursor: pointer;
      margin: 20px 0;
      &:hover {
        box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
      }
      .speakers-profile-name {
        position: relative;
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        .speakers-profile-number {
          /* border: 2px solid rgb(110, 192, 231); */
          background-color: rgb(190, 208, 222);
          border-radius: 50% 50%;

          /* text-decoration: underline rgb(59, 110, 177); */
          text-underline-offset: 6px;
          color: rgb(255, 255, 255);
          height: 14px;
          width: 14px;
          margin-bottom: 10px;
          text-align: center;
          line-height: 24px;
          font-size: 18px;
          font-weight: 500;
          margin-right: 10px;
        }

        h3 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 12px;
          color: rgb(63, 63, 63);
        }
      }
      .introduction {
        margin-left: 40px;
        li {
          font-size: 16px;
          color: rgb(85, 85, 85);
          margin-top: 6px;
        }
      }
    }
  }
}

.div6 {
  width: 100%;
  /* border: 2px solid black; */
  margin: 60px 0;
  h1 {
    text-align: center;
    color: rgb(40, 40, 40);
    font-size: 34px;
    margin-bottom: 6px;
  }
  .alphabetical-order {
    font-size: 20px;
    color: rgb(118, 118, 118);
    text-align: center;
    margin-bottom: 20px;
  }
  .speakers {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 2px solid black; */
    margin-bottom: 20px;
    width: 100%;

    .speakers-profile {
      /* border: 2px solid black; */
      width: 66%;
      max-width: 1200px;

      display: flex;
      /* flex-direction: column; */
      align-items: center;
      background-color: rgb(255, 255, 255);
      box-shadow: 3px 2px 4px 2.5px rgba(192, 192, 192, 0.637);
      border-radius: 2px;
      padding: 28px;
      margin: 10px 0;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
      }

      .speakers-profile-number {
        /* border: 2px solid rgb(110, 192, 231); */
        background-color: rgb(190, 208, 222);
        border-radius: 50% 50%;

        /* text-decoration: underline rgb(59, 110, 177); */
        text-underline-offset: 6px;
        color: rgb(255, 255, 255);
        height: 14px;
        width: 14px;
        margin-right: 10px;
        text-align: center;
        /* line-height: 50px; */
        font-size: 16px;
        font-weight: 500;
      }

      h3 {
        font-size: 20px;
        font-weight: 400;
        margin-right: 12px;
      }
      p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.555);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  /* body開頭 */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .sec2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
  }

  .div1 {
    width: 100%;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div1-block {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      width: 90%;
      h1 {
        margin-bottom: 24px;
        color: rgb(40, 40, 40);
        /* border: 2px solid lightskyblue; */
      }
      .div1-members {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        /* border: 2px solid black; */
        margin-top: -20px;
        li {
          font-size: 20px;
          /* margin: 10px 0; */
          cursor: pointer;
          /* margin-left: 50px; */
          /* padding: 10px 20px; */
          padding-left: 20px;

          margin-top: 20px;
          color: rgb(61, 61, 61);
          /* border: 2px solid lightskyblue; */
        }
        .div1-divider {
          width: 40%;
          height: 1px;
          background-color: rgba(133, 133, 133, 0.7);
        }
      }
    }
  }

  .div2 {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div2-block {
      display: flex;
      flex-direction: column;
      align-items: last baseline;
      /* border: 2px solid black; */
      width: 90%;
      h1 {
        color: rgb(56, 56, 56);
        margin-bottom: 10px;
      }
      .div2-members {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */

        li {
          font-size: 20px;
          /* margin-left: 50px; */
          padding-left: 20px;

          margin-top: 26px;
          cursor: pointer;
          /* padding-left: 20px; */
          color: rgb(61, 61, 61);
        }
        .div2-divider {
          width: 40%;
          height: 1.5px;
          background-color: rgba(133, 133, 133, 0.7);
        }
      }
    }
  }

  .div3 {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div3-block {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      /* border: 2px solid black; */
      width: 90%;
      h1 {
        color: rgb(56, 56, 56);
        margin-bottom: 10px;
      }
      .div3-members {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        /* border: 2px solid black; */
        /* margin-top: 0px; */

        li {
          font-size: 20px;
          margin-top: 20px;
          /* margin-left: 50px; */
          cursor: pointer;
          padding-left: 20px;
          color: rgb(61, 61, 61);
        }
        .div3-divider {
          width: 40%;
          height: 1px;
          background-color: rgba(133, 133, 133, 0.7);
        }
      }
    }
  }

  .div4 {
    margin: 14vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(151, 172, 198, 0.35);
    .div4-block {
      width: 90%;
      margin-bottom: 70px;
      h1 {
        margin-top: 60px;
        text-align: center;
        font-size: 34px;
        /* font-weight: 500; */
        margin-bottom: 20px;
        color: rgb(70, 70, 70);
      }
      .speakers {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 20px;
        width: 100%;
        .speakers-profile {
          /* border: 2px solid black; */
          width: 100%;
          /* display: flex; */
          /* flex-direction: column; */
          /* align-items: center; */
          position: relative;
          background-color: rgb(255, 255, 255);
          box-shadow: 3px 2px 4px 1px rgba(72, 102, 137, 0.3);
          border-radius: 2px;
          padding: 26px 16px;
          transition: 0.3s;
          cursor: pointer;
          margin: 8px 0;
          &:hover {
            box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
          }

          .speakers-profile-name {
            position: relative;
            width: 100%;
            /* border: 2px solid black; */
            display: flex;
            align-items: center;
            h3 {
              color: rgb(63, 63, 63);
            }
          }
          .speakers-profile-number {
            /* border: 2px solid rgb(110, 192, 231); */
            position: relative;
            background-color: rgb(190, 208, 222);
            border-radius: 50% 50%;
            color: rgb(255, 255, 255);
            height: 14px;
            width: 14px;
            margin-right: 10px;
            text-align: center;
            /* line-height: 50px; */
            font-weight: 500;
            font-size: 18px;
          }

          h3 {
            /* border: 2px solid black; */
            /* width: 20%; */
            position: relative;
            left: 0;
            margin-left: 2px;
            font-size: 20px;
            font-weight: 500;
            /* margin-right: 20px; */
          }
          .introduction {
            margin-top: 12px;
            margin-left: 40px;
            color: rgb(85, 85, 85);
          }
          li {
            margin-top: 6px;
          }
          p {
            font-size: 18px;
            color: rgb(70, 70, 70);
          }
        }
      }
    }
  }

  .div5 {
    width: 100%;
    /* background-color: rgb(255, 253, 243); */
    /* border: 2px solid black; */
    h1 {
      text-align: center;
      color: rgb(70, 70, 70);
      font-size: 34px;
      padding: 0 10px;
    }
    .speakers {
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      align-items: center;
      margin-bottom: 20px;
      width: 100%;

      .speakers-profile {
        /* border: 2px solid black; */
        width: 90%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        background-color: rgb(252, 253, 255);
        box-shadow: 3px 2px 4px 2.5px rgba(192, 192, 192, 0.637);
        border-radius: 2px;
        padding: 26px 16px;
        transition: 0.3s;
        cursor: pointer;
        margin: 20px 0;
        &:hover {
          box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
        }
        .speakers-profile-name {
          position: relative;
          width: 100%;
          /* border: 2px solid black; */
          display: flex;
          align-items: center;
          .speakers-profile-number {
            /* border: 2px solid rgb(110, 192, 231); */
            background-color: rgb(190, 208, 222);
            border-radius: 50% 50%;

            /* text-decoration: underline rgb(59, 110, 177); */
            text-underline-offset: 6px;
            color: rgb(255, 255, 255);
            height: 14px;
            width: 14px;
            margin-bottom: 10px;
            text-align: center;
            line-height: 24px;
            font-size: 18px;
            font-weight: 500;
            margin-right: 10px;
          }

          h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 12px;
            color: rgb(63, 63, 63);
          }
        }
        .introduction {
          /* margin-left: 40px; */
          li {
            font-size: 16px;
            color: rgb(85, 85, 85);
            margin-top: 6px;
          }
        }
      }
    }
  }

  .div6 {
    width: 100%;
    /* border: 2px solid black; */
    margin: 60px 0;
    h1 {
      text-align: center;
      color: rgb(70, 70, 70);
      font-size: 34px;
    }
    .speakers {
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      align-items: center;
      /* border: 2px solid black; */
      margin-bottom: 20px;
      width: 100%;

      .speakers-profile {
        /* border: 2px solid black; */
        width: 90%;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 2px 4px 2.5px rgba(192, 192, 192, 0.637);
        border-radius: 2px;
        padding: 26px 16px;
        margin: 10px 0;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          box-shadow: 2px 4px 4px 2px rgba(72, 102, 137, 0.3);
        }

        .speakers-profile-number {
          /* border: 2px solid rgb(110, 192, 231); */
          background-color: rgb(190, 208, 222);
          border-radius: 50% 50%;

          /* text-decoration: underline rgb(59, 110, 177); */
          text-underline-offset: 6px;
          color: rgb(255, 255, 255);
          height: 14px;
          width: 14px;
          min-width: 14px;
          margin-right: 10px;
          text-align: center;
          /* line-height: 50px; */
          font-size: 16px;
          font-weight: 500;
        }

        h3 {
          font-size: 20px;
          font-weight: 400;
          margin-right: 12px;
        }
        p {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.555);
        }
      }
    }
  }
}
