* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* body開頭 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  /* justify-content: center; */
}

.sec2 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .div1 {
    width: 100%;
    margin-bottom: 20px;
    .div1-block {
      width: auto;
      margin: 0 16%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        /* border: 2px solid black; */
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
      }
      .registration-period-explanation {
        /* border: 2px solid black; */
        padding: 0;
        p {
          margin: 10px 0;
        }
      }
    }
  }
}

.sec2 .div2 {
  /* margin-top: 40px; */
  width: 100%;
  .div2-block {
    /* width: 100%; */
    margin: 0 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    h1 {
      font-size: 36px;
      font-weight: 400;
      font-weight: 500;
    }

    table {
      margin-top: 30px;
      width: auto;
      /* border: 2px solid black; */
      text-align: center;
      border-collapse: collapse;
      tr {
        border-bottom: 1px solid #a3a3a3d1;
      }
      th {
        background-color: #f3f3f3;
        height: 40px;
        padding: 0 10px;
      }
      tr:nth-of-type(odd) td {
        /* background-color: #f3f3f3; */
      }
      td {
        /* border: 1px solid black; */
        padding: 10px 80px;
        color: #292929;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sec2 .div2 {
    /* margin-top: 40px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div2-block {
      width: 100%;
      /* margin: 0 16%; */
      /* padding: 0 12px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 2px solid black; */
      h1 {
        font-size: 36px;
        font-weight: 500;
      }

      table {
        margin-top: 30px;
        width: 100%;
        /* border: 2px solid black; */
        text-align: center;
        border-collapse: collapse;
        tr {
          border-bottom: 1px solid #a3a3a3d1;
        }
        th {
          background-color: #f3f3f3;
          height: 40px;
          /* padding: 0 10px; */
        }
        tr:nth-of-type(odd) td {
          /* background-color: #f3f3f3; */
        }
        td {
          /* border: 1px solid black; */
          padding: 10px 20px;
          color: #292929;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .sec2 .div2 {
    width: 100%;
    .div2-block {
      /* width: 100%; */
      margin: 0 16%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 2px solid black; */
      h1 {
        font-size: 36px;
        font-weight: 400;
        font-weight: 500;
      }

      table {
        margin-top: 30px;
        width: auto;
        /* border: 2px solid black; */
        text-align: center;
        border-collapse: collapse;
        tr {
          border-bottom: 1px solid #a3a3a3d1;
        }
        th {
          background-color: #f3f3f3;
          height: 40px;
          padding: 0 10px;
          font-size: 24px;
          font-weight: 500;
        }

        td {
          /* border: 1px solid black; */
          padding: 10px 80px;
          color: #000000;
          font-size: 18px;
        }
      }
    }
  }
}
