/* 這是header跟footer的樣式(每個頁面共用) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* nav開頭 */
header {
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  position: sticky;
  top: -1;
  /* border: 2px solid black; */
}

/* header nav {
  background-color: antiquewhite;
  box-shadow: 0 6px 8px -5px black;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
  padding: 20px;
} */

header nav img {
  width: 40px;
  height: auto;
}

.nav-divider {
  width: 0%;
  /* border: 2px solid black; */
}

header nav ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
}

header nav ul li {
  /* padding: 1rem; */
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

header nav ul li a:hover {
  color: rgb(155, 111, 59);
  cursor: pointer;
}

.websiteButton {
  background-color: burlywood;
}

/* 小螢幕的nav */
.hambar {
  background-color: antiquewhite;
  height: auto;
  /* border: 2px solid black; */
  box-shadow: 0px 1px 3px #00000088;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    /* Logo */
    float: left;
    padding-left: 50px;
    line-height: 50px;
  }
}

.hambar label {
  float: right;
  padding-right: 50px;
  line-height: 50px;
  i {
    width: 30px;
    vertical-align: middle;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
}

/* 隱藏用來控制hambar 開關的 checkbox */
#switch {
  display: none;
}

/* 選單列 */
input:checked ~ .menu {
  max-height: 500px;
}
.menu {
  clear: both;
  background: #fff;
  display: flex;
  flex-direction: column;
  li {
    text-align: center;
    border-bottom: 1px solid #efefef;
    a {
      display: block;
      padding: 10px 0;
      font-size: 18px;
      color: black;
      &:hover {
        /* background: #5d5d5d; */
        color: rgb(165, 107, 35);
      }
    }
  }
}
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s; /* 動畫秒數 */
}
/* nav結束 */

/* footer開始 */
footer {
  height: 120px;
}

footer section {
  background-color: blanchedalmond;
  height: 100%;
  padding: 36px 50px;
  text-align: center;
}

.cantact {
}

.contact h4 {
  font-weight: 500;
}

.copyRight {
  margin: 10px 0;
}

.copyRight h4 {
  font-weight: 300;
}

footer section a {
  text-decoration: none;
  color: black;
}
/* footer結束 */

/* 滑到頂端按鈕設定 */
html {
  scroll-behavior: smooth;
}

.goTop {
  position: fixed;
  right: 50px;
  bottom: 30px;
  /* border: 2px solid black; */
  width: 50px;
  height: 60px;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; /* 隱藏時禁用點擊 */
  background-color: rgb(180, 180, 180);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  border-radius: 6px;
}

.goTop.visible {
  opacity: 0.8;
  pointer-events: auto; /* 顯示時啟用點擊 */
}

.fa-arrow-up {
  color: black;
  transition: 0.2s ease-out;
  background-color: none;
}

.fa-arrow-up:hover {
  transform: translateY(2.5px);
  cursor: pointer;
}

/* 768px 以上的螢幕寬樣式 */
@media screen and (min-width: 768px) {
  label {
    display: none;
  }
  .menu {
    height: 80px;
    width: 100%;
    float: right;
    clear: none;
    max-height: 66px;
    background-color: antiquewhite;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    li {
      display: inline-block;
      font-weight: 600;
      a {
        /* padding: 0 15px; */
        text-decoration: none;
        color: black;
        transition: 0.2s ease-in;
        font-size: 16px;
      }
    }
  }
}
