/* 這是header跟footer的樣式(每個頁面共用) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* nav開頭 */
header {
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  position: sticky;
  top: -1;
  z-index: 999;
}

header nav img {
  width: 40px;
  height: auto;
}

#navbar {
  transition: 0.1s ease-in-out;
}

header nav ul {
  /* border: 2px solid black; */
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  font-weight: 600;
  /* margin-left: 14px; */
  /* padding: 0 10px; */
  /* border: 2px solid black; */
  /* height: 80%; */
}

header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
  padding: 26px 0;
  margin: 0px;
  /* border: 2px solid black; */
}

header nav ul li a:hover {
  color: rgb(235, 178, 66);
  cursor: pointer;
}

header nav ul li:hover .others-dropdown {
  display: flex;
}

.others-dropdown li {
  /* border: 2px solid black; */
  height: auto;
  display: block;
  margin: 2px 10px;
  color: black;
  width: 96%;
  transition: 0.2s ease-in;
  &:hover {
    background-color: rgb(235, 178, 66);
  }
}

.others-dropdown li a {
  color: black !important;
  padding: 10px 0px;
  /* background-color: aqua; */
  /* border: 2px solid black; */
}

.others-dropdown {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid black; */
  right: 4px;
  top: 74px;
  position: absolute;
  z-index: 980;
  display: none;
  flex-direction: column;
  padding: 10px 0;
}

.travel-dropdown {
  right: 42px;
}

.page-is-here {
  color: rgb(235, 178, 66) !important;
}

/* 小螢幕的nav */
.hambar {
  background-color: rgb(1, 79, 138);
  height: auto;
  /* border: 2px solid black; */
  box-shadow: 0px 1px 3px #00000088;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    /* Logo */
    float: left;
    padding-left: 50px;
    line-height: 50px;
  }
}

.hambar label {
  float: right;
  padding-right: 50px;
  line-height: 50px;
  i {
    width: 30px;
    vertical-align: middle;
  }
  .fa-bars {
    color: white;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
}

/* 隱藏用來控制hambar 開關的 checkbox */
#switch {
  display: none;
}

/* 選單列 */
input:checked ~ .menu {
  max-height: 500px;
}
/* 下拉選單樣式 */
.menu {
  clear: both;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  li {
    text-align: center;
    /* border-bottom: 1px solid #efefef; */
    /* transition: 0.2s ease; */
    &:hover {
      /* padding-bottom: 4px; */
    }
    a {
      display: block;
      font-size: 18px;
      color: rgb(255, 255, 255);
      /* border: 2px solid black; */
      &:hover {
        /* color: rgb(105, 98, 235); */
        /* font-size: 19px; */
      }
    }
  }
}
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s; /* 動畫秒數 */
}

.icon {
  display: flex;
  align-items: center;
  width: 24%;
  /* border: 2px solid black; */
  a {
    /* position: relative; */
    /* width: 240px; */
    /* z-index: 500; */
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    /* border: 2px solid black; */
    &:hover {
      cursor: pointer;
    }
  }
  h5 {
    color: black;
    font-size: 16px;
  }
}

/* nav結束 */

/* sec1 照片部分 */

.sec1 {
  width: 100%;
  /* height: 60vh; */
  aspect-ratio: 19 / 6;
  min-height: 300px;
  /* padding: 30px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */
  overflow: hidden;
  position: relative;
  z-index: -10;
}

.cover {
  /* border: 2px solid black; */
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 34, 0.795),
    rgba(255, 255, 255, 0.318)
  );
}

.icons {
  /* border: 2px solid black; */
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  padding: 0px;
  padding-left: 10px;
  z-index: 200;
  border-radius: 2px;
  .asianfa_icon {
    position: relative;
    bottom: 8px;
    height: 60px;
    cursor: pointer;
    z-index: 100;
    aspect-ratio: 18 / 7;
    opacity: 0.85;
  }
  .NCCU_icon {
    height: 80px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }
}

.title {
  position: absolute;
  /* border: 2px solid black; */
  height: auto;
  width: auto;
  left: 4%;
  top: 32%;
  color: white;
  z-index: 12;
  text-align: left;
  h3 {
    font-size: 28px;
  }
  .title-divider {
    height: 28px;
    position: relative;
    /* border: 2px solid black; */
  }
  h5 {
    font-size: 18px;
  }
}

.slider-frame {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes slide_animation {
  0% {
    left: 200%;
  }
  10% {
    left: 200%;
  }
  20% {
    left: 200%;
  }
  30% {
    left: 200%;
  }
  40% {
    left: 200%;
  }
  50% {
    left: 200%;
  }
  60% {
    left: 100%;
  }
  70% {
    left: 100%;
  }
  80% {
    left: 100%;
  }
  90% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.slider-images {
  width: 200%;
  height: 100%;
  margin: 0 0 0 -200%;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.image-container {
  height: 100%;
  width: 50%;
  position: relative;
  float: left;
}

.NCCU_image {
  width: 100%;
  position: relative;
  z-index: 0;
  /* top: -80%; */
  /* bottom: 115%; */
  min-height: 300px;

  object-fit: cover;
}

.Taipei-image {
  width: 100%;
  position: relative;
  z-index: 0;
  bottom: 0px;
  right: 0;
  min-height: 300px;

  /* transform: scale(1); */
  /* left: 500px; */
  object-position: right;
  object-fit: cover;
}

/* footer開始 */
footer {
  height: 200px;
}

footer section {
  background-color: blanchedalmond;
  height: 100%;
  padding: 36px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  h4 {
    font-weight: 500;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.copyRight {
  margin: 10px 0;
  margin-bottom: 30px;
}

.copyRight h4 {
  font-weight: 300;
  /* font-size: 12px; */
  text-align: center;
}

.sponsor {
  /* border: 2px solid black;  */
  height: 60px;
  display: flex;
  width: fit-content;
  img {
    width: auto;
    height: 100%;
    margin: 0 10px;
  }
}

/* footer結束 */

/* 滑到頂端按鈕設定 */
html {
  scroll-behavior: smooth;
}

.goTop {
  position: fixed;
  right: 50px;
  bottom: 30px;
  /* border: 2px solid black; */
  width: 50px;
  height: 60px;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; /* 隱藏時禁用點擊 */
  background-color: rgb(180, 180, 180);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  border-radius: 6px;
}

.goTop.visible {
  opacity: 0.8;
  pointer-events: auto; /* 顯示時啟用點擊 */
}

.fa-arrow-up {
  color: black;
  transition: 0.2s ease-out;
  background-color: none;
}

.fa-arrow-up:hover {
  transform: translateY(2.5px);
  cursor: pointer;
}

/* 專門為navbar格式的RWD */
@media screen and (max-width: 1310px) {
  header nav ul li {
    padding: 0 14px;
  }
}

/* 768px 以上的螢幕寬樣式 、 在視窗太窄的時候把navbar改成下拉選單 */
@media screen and (min-width: 1080px) {
  label {
    display: none;
  }
  .menu {
    height: 80px;
    width: 100%;
    float: right;
    clear: none;
    max-height: 74px;
    background-color: rgb(1, 79, 138);
    /* rgb(105, 162, 236); */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    li {
      display: inline-block;
      font-weight: 600;
      a {
        /* text-decoration: none !important; */
        color: rgb(255, 255, 255);
        transition: 0.2s ease-in;
        font-size: 16px;
      }
    }
  }
  .page-is-here-drop {
    background-color: rgb(235, 178, 66);
  }
}

@media screen and (max-width: 768px) {
  .icon {
    display: none;
  }
  .others-dropdown {
    display: none;
  }
  header nav ul li:hover .others-dropdown {
    display: none;
  }
  .menu li {
    /* border: 2px solid black; */
    width: 100%;
    &:hover {
      background-color: antiquewhite;
    }
    a {
      /* height: 20px; */
      padding: 10px 0;
      /* margin: 0px 0; */
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  .page-is-here {
    color: black !important;
    background-color: rgb(255, 235, 210);
  }
}

/* 手機的樣式 */
@media screen and (max-width: 480px) {
  .fa-bars {
    color: white;
    /* border: 2px solid black; */
    right: -26px;
    position: relative;
    font-size: 28px;
    margin-bottom: 10px;
  }

  footer section {
    background-color: blanchedalmond;
    height: 100%;
    padding: 36px 60px;
    padding-bottom: 0px;
    text-align: center;
  }

  .copyRight {
    margin-bottom: 20px;
  }

  .sponsor {
    /* border: 2px solid black; */
    height: 40px;
    display: flex;
    width: fit-content;
    img {
      /* width: 10px; */
      height: 100%;
      margin: 0 10px;
    }
    .sponsor_commerce {
      aspect-ratio: 1 / 1;
    }
    .sponsor_business {
    }
    .sponsor_financeSchool {
    }
  }

  header {
    position: static;
  }

  #navbar {
    position: static;
  }

  header nav ul li {
    font-weight: 600;
    margin-left: 0px;
    /* border: 2px solid black; */
    /* height: 80%; */
  }

  .others-li.active .others-dropdown {
    display: flex;
    /* transition: all 0.3s ease-out; */
    max-height: 500px;
  }

  .others-travel-li.active .others-dropdown {
    display: flex;
    /* transition: all 0.3s ease-out; */
    max-height: 500px;
  }

  .others-dropdown {
    max-height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: all 0.3s ease-out;

    width: 100%;
    /* height: auto; */
    background-color: rgb(255, 255, 255);
    /* border: 2px solid black; */
    right: 0px;
    top: 372px;
    position: absolute;
    z-index: 980;
    display: none;
    /* display: flex; */
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 1);
  }

  .travel-dropdown {
    right: 0px;
    top: 326px;
  }

  .page-is-here-drop {
    background-color: rgb(255, 235, 210);
  }

  .copyRight h4 {
    font-weight: 300;
    font-size: 12px;
  }

  /* sec 1圖片部分 */
  .sec1 {
    width: 100%;
    height: 30vh;
    min-height: 300px;
    /* padding: 30px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    overflow: hidden;
    position: relative;
    z-index: -10;
  }

  .cover {
    /* border: 2px solid black; */
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 34, 0.795),
      rgba(255, 255, 255, 0.318)
    );
  }

  .title {
    position: absolute;
    /* border: 2px solid black; */
    height: auto;
    width: auto;
    left: 4%;
    top: 30%;
    color: white;
    z-index: 12;
    text-align: left;
    h3 {
      font-size: 18px;
    }
    .title-divider {
      height: 16px;
      position: relative;
      /* border: 2px solid black; */
    }
    h5 {
      font-size: 14px;
    }
  }

  .icons {
    /* border: 2px solid black; */
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    padding: 0px;
    padding-left: 10px;
    z-index: 200;
    border-radius: 2px;
    display: none;
    align-items: center;

    .NCCU_icon {
      height: 40px;
      aspect-ratio: 1 / 1;
      cursor: pointer;
    }
    .asianfa_icon {
      position: relative;
      bottom: 0px;
      height: 30px;
      cursor: pointer;
      z-index: 100;
      aspect-ratio: 18 / 7;
      opacity: 0.85;
      /* border: 2px solid black; */
    }
  }

  .slider-frame {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  @-webkit-keyframes slide_animation {
    0% {
      left: 200%;
    }
    10% {
      left: 200%;
    }
    20% {
      left: 200%;
    }
    30% {
      left: 200%;
    }
    40% {
      left: 200%;
    }
    50% {
      left: 200%;
    }
    60% {
      left: 100%;
    }
    70% {
      left: 100%;
    }
    80% {
      left: 100%;
    }
    90% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  .slider-images {
    width: 200%;
    height: auto;
    margin: 0 0 0 -200%;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
  }

  .image-container {
    height: auto;
    width: 50%;
    position: relative;
    float: left;
  }

  .NCCU_image {
    width: 100%;
    position: relative;
    z-index: 0;
    top: 0px;
    object-fit: cover;
  }

  .Taipei-image {
    width: 100%;
    position: relative;
    z-index: 0;
    top: 0px;
    transform: scale(1);
    /* left: 500px; */
    object-fit: cover;
  }
}

/* 電腦的樣式 */
@media screen and (min-width: 1440px) {
  .icon {
    display: flex;
    align-items: center;
    width: 46%;
    /* border: 2px solid black; */
    a {
      /* position: relative; */
      /* width: 240px; */
      /* z-index: 500; */
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 700;
      /* border: 2px solid black; */
      &:hover {
        cursor: pointer;
      }
    }
    h5 {
      color: black;
      font-size: 16px;
    }
  }
}
