/* 這是header跟footer的樣式(每個頁面共用) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* nav開頭 */
header {
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  position: sticky;
  top: -1;
  z-index: 999;
}

header nav img {
  width: 40px;
  height: auto;
}

#navbar {
  transition: 0.1s ease-in-out;
}

header nav ul {
  /* border: 2px solid black; */
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  font-weight: 600;
  margin-left: 14px;
  /* border: 2px solid black; */
  /* height: 80%; */
}

header nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
  padding: 26px 0;
  /* border: 2px solid black; */
}

header nav ul li a:hover {
  color: rgb(235, 178, 66);
  cursor: pointer;
}

header nav ul li:hover .others-dropdown {
  display: flex;
}

.others-dropdown li {
  /* border: 2px solid black; */
  height: auto;
  display: block;
  margin: 2px 10px;
  color: black;
  width: 96%;
  transition: 0.2s ease-in;
  &:hover {
    background-color: rgb(235, 178, 66);
  }
}

.others-dropdown li a {
  color: black !important;
  padding: 10px 10px;
  /* background-color: aqua; */
  /* border: 2px solid black; */
}

.others-dropdown {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid black; */
  right: 4px;
  top: 74px;
  position: absolute;
  z-index: 980;
  display: none;
  flex-direction: column;
}

.page-is-here {
  color: rgb(235, 178, 66) !important;
}

/* 小螢幕的nav */
.hambar {
  background-color: rgb(1, 79, 138);
  height: auto;
  /* border: 2px solid black; */
  box-shadow: 0px 1px 3px #00000088;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    /* Logo */
    float: left;
    padding-left: 50px;
    line-height: 50px;
  }
}

.hambar label {
  float: right;
  padding-right: 50px;
  line-height: 50px;
  i {
    width: 30px;
    vertical-align: middle;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
}

/* 隱藏用來控制hambar 開關的 checkbox */
#switch {
  display: none;
}

/* 選單列 */
input:checked ~ .menu {
  max-height: 500px;
}
/* 下拉選單樣式 */
.menu {
  clear: both;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  li {
    text-align: center;
    /* border-bottom: 1px solid #efefef; */
    /* transition: 0.2s ease; */
    &:hover {
      /* padding-bottom: 4px; */
    }
    a {
      display: block;
      font-size: 18px;
      color: rgb(255, 255, 255);
      /* border: 2px solid black; */
      &:hover {
        /* color: rgb(105, 98, 235); */
        /* font-size: 19px; */
      }
    }
  }
}
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s; /* 動畫秒數 */
}

.icon {
  display: flex;
  align-items: center;
  width: 24%;
  /* border: 2px solid black; */
  img {
    position: relative;
    width: 240px;
    z-index: 500;
    /* border: 2px solid black; */
    &:hover {
      cursor: pointer;
    }
  }
  h5 {
    color: black;
    font-size: 16px;
  }
}

/* nav結束 */

/* footer開始 */
footer {
  height: 120px;
}

footer section {
  background-color: blanchedalmond;
  height: 100%;
  padding: 36px 50px;
  text-align: center;
}

.cantact {
}

.contact h4 {
  font-weight: 500;
}

.copyRight {
  margin: 10px 0;
}

.copyRight h4 {
  font-weight: 300;
}

footer section a {
  text-decoration: none;
  color: black;
}
/* footer結束 */

/* 滑到頂端按鈕設定 */
html {
  scroll-behavior: smooth;
}

.goTop {
  position: fixed;
  right: 50px;
  bottom: 30px;
  /* border: 2px solid black; */
  width: 50px;
  height: 60px;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none; /* 隱藏時禁用點擊 */
  background-color: rgb(180, 180, 180);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  border-radius: 6px;
}

.goTop.visible {
  opacity: 0.8;
  pointer-events: auto; /* 顯示時啟用點擊 */
}

.fa-arrow-up {
  color: black;
  transition: 0.2s ease-out;
  background-color: none;
}

.fa-arrow-up:hover {
  transform: translateY(2.5px);
  cursor: pointer;
}

/* 768px 以上的螢幕寬樣式 */
@media screen and (min-width: 768px) {
  label {
    display: none;
  }
  .menu {
    height: 80px;
    width: 100%;
    float: right;
    clear: none;
    max-height: 74px;
    background-color: rgb(1, 79, 138);
    /* rgb(105, 162, 236); */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    li {
      display: inline-block;
      font-weight: 600;
      a {
        text-decoration: none !important;
        color: rgb(255, 255, 255);
        transition: 0.2s ease-in;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .icon {
    display: none;
  }
  .others-dropdown {
    display: none;
  }
  header nav ul li:hover .others-dropdown {
    display: none;
  }
  .menu li {
    /* border: 2px solid black; */
    width: 100%;
    &:hover {
      background-color: antiquewhite;
    }
    a {
      /* height: 20px; */
      padding: 10px 0;
      /* margin: 0px 0; */
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  .page-is-here {
    color: black !important;
    background-color: antiquewhite;
  }
}
